@charset "UTF-8";

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

#textarea{
  resize: none;
}
input[type="file"] {
  display: none;
}
.navbar{
  background-color: black;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: flex;
  padding: 12px 12px;
  cursor: pointer;
  justify-content: center;
  
}



body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

header {
  margin-top: 1rem;
}

.droparea {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.green-border {
  border-color: green;
}
#theme__image{
  width: 40px;
  height: 40px;
}
section{
  display:block;
}
.content-manager{
  grid-template-columns: 1fr 1fr 1fr;
}

.col-content-manager .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .content-manager{
    grid-template-columns: 1fr 1fr;
  } 
}
@media screen and (max-width: 768px) {
  .content-manager{
    grid-template-columns: 1fr;
  }
}