@charset "UTF-8";

body {
    background-image:  url('https://wallpapers.com/images/hd/friends-cast-desktop-1p63kwvirske5rl6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}