@charset "UTF-8";

.bg-body-tertiary #testo.bg-body-tertiary {
	background-color: rgba(0, 0, 0, 0.5);
	/* Un'opacità del 50% */
}

.dropdown-content {

	position: absolute;
	background-color: #ff0000;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.navbar-toggler {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png);
}

.navbar {

	background-color: black;
	min-height: 80px;
	box-shadow: 1px 0px 12px 10px rgba(0, 0, 0, 0.60);

}

.navbar-brand {
	line-height: 5px;
}

#uno:hover {
	color: #ee2825;
}

#due:hover {
	color: #ffb828;
}

#tre:hover {
	color: #02b0ec;
}

#quattro:hover {
	color: #ee2825;
}

#cinque:hover {
	color: #ffb828;
}

#sei:hover {
	color: #02b0ec;
}


#c2:hover {
	color: #25bfee;
}





/* css per location */
body {
	background-color: #333;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}


.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 1px 0px 12px 8px rgba(59, 59, 59, 0.445);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 20px;
}

.card img {
  width: 400px;
  border-radius: 10px;
  fill: #333;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 110%; /* Imposta la larghezza desiderata */
  height: 100%; /* Imposta l'altezza desiderata */
  object-fit: cover; /* Mantiene le proporzioni dell'immagine */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ee2825d9;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ee2825d9;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ee2825d9;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Colore rosso per la prima card */
.card:nth-child(1) .card__content {
  background-color: #ee2825d9;
}

/* Colore giallo per la seconda card */
.card:nth-child(2) .card__content {
  background-color: #ffb828d9;
}

/* Colore azzurro per la terza card */
.card:nth-child(3) .card__content {
  background-color: #02b0ecd9;
}
/* Colore rosso per la quarta card */
.card:nth-child(4) .card__content {
  background-color: #ee2825d9;
}

/* Colore giallo per la quinta card */
.card:nth-child(5) .card__content {
  background-color: #ffb828d9;
}

/* Colore azzurro per la sesta card */
.card:nth-child(6) .card__content {
  background-color: #02b0ecd9;
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: auto;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
}



.card__description {
  margin: auto;
  font-size: 13px;
  color: #ffffff;
  line-height: 1.4;
}


.cardfooter {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }

  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: green;
    transition-duration: 0.3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  