<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Area Riservata</title>
</head>
<body>
    <div class="contenuti">
        <table>
            <tr th:each="contenuto : ${contenuti}">
                <td th:text="${contenuto.titolo}"></td>
                <td th:text="${contenuto.descrizione}"></td>
                <td th:text="${contenuto.categoria.nomeCategoria}"></td>
                <td th:each="immagine : ${contenuto.immagini}">
                    <img th:src="@{${immagine.galleria}}" width="300" />
                </td>
                <td>
                    <a th:href="@{/areariservata(contenutoId=${contenuto.id})}">Modifica</a>
                    <a th:href="@{/areariservata/contenuto/elimina(id=${contenuto.id})}">Elimina</a>
                </td>
            </tr>
        </table>
        <form action="/areariservata/contenuto" method="post" enctype="multipart/form-data">
            <input type="text" name="titolo" th:value="${contenuto.titolo}" required>
            <textarea name="descrizione" th:text="${contenuto.descrizione}"></textarea>
            <select name="categoria">
                <option th:each="categoria : ${categorie}" th:value="${categoria.id}" th:text="${categoria.nomeCategoria}"></option>
            </select>
            <div th:if="${ contenuto.immagini.size() > 0 }">
                <img th:each="immagine : ${contenuto.immagini}" th:src="@{${immagine.galleria}}" width="300" />
            </div>
            <input type="file" name="foto" accept=".jpg,.jpeg,.png,.bmp,.tiff,.raw" multiple="true">
            <input type="submit" value="Registra">
        </form>
    </div>

    <hr>

    <div class="categorie">
        <table>
            <tr th:each="categoria : ${categorie}">
                <td th:text="${categoria.nomeCategoria}"></td>
                <td>
                    <a th:href="@{/areariservata(categoriaId=${categoria.id})}">Modifica</a>
                    <a th:href="@{/areariservata/categoria/elimina(id=${categoria.id})}">Elimina</a>
                </td>
            </tr>
        </table>

        <form action="/areariservata/categoria" method="post">
            <input type="text" name="nomeCategoria" th:value="${categoria.nomeCategoria}" required>
            <input type="submit" value="Registra">
        </form>
    </div>

    <div>
        <div>Lista admin:</div>
        <div th:each="admin : ${admins}" th:text="${admin.username}"></div>
    </div>

    <h2>Aggiungi un nuovo admin</h2>
    <form th:action="@{/areariservata/aggiungi-admin}" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Aggiungi admin</button>
    </form>



</body>
</html>