<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-body-tertiary">
<div>

    <div><img id="sfondolocation" src="foto4.jpg" class="img-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark p-3 shadow-strong-lg fixed-top opacity-100">
            <!--da capire se mettere opacity 50-->
            <!-- Container wrapper -->

            <div class="container-fluid">
                <!-- Navbar brand -->
                <a class="navbar-brand" th:href="@{/}"><img style="width: 200px;" src="immagini/logo friend png.png"></a>

                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                    <!-- ICONA HAMBURGER -->
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible wrapper -->
                <div  class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
                    <!-- Left links -->
                    <ul  class="navbar-nav me-auto mb-2 mb-lg-0" >
                        <!--dropdown -->
                        <li th:each="categoria : ${categorie}" class="nav-item">
                            <a class="nav-link" th:href="@{'/' + ${categoria.nomeCategoria}}" th:text="${categoria.nomeCategoria}"></a>
                        </li>
                        <li>
                            <a th:href="@{/admin/login}">Login</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control " type="search" placeholder="Search" aria-label="Search" style="width: 200px;">
                        <button class="btn btn-outline-success" type="submit"><img style="width: 18px;" class="lente" src="immagini/lentepng.png"/></button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>

</body>
</html>