@charset "UTF-8";

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.cartaIns {
  display: none;
}

.cartaAdm {
  display: none;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  margin: 5px;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: green;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*
.carta{
  display: none;
}
*/
#textarea {
  resize: none;
}

input[type="file"] {
  display: none;
}

.navbar {
  background-color: black;
}

#uno:hover {
  color: #ee2825;
}

#due:hover {
  color: #ffb828;
}

#tre:hover {
  color: #02b0ec;
}

#quattro:hover {
  color: #ee2825;
}

#cinque:hover {
  color: #ffb828;
}

#sei:hover {
  color: #02b0ec;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: flex;
  padding: 12px 12px;
  cursor: pointer;
  justify-content: center;

}

header {
  margin-top: 1rem;
}

.droparea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnails {
    overflow: auto;
    display: flex;
    align-items: center;
}

.thumbnails span {
    display: block;
}

.thumbnails span video,
.thumbnails span img {
    max-width: 100px;
}

.card-footer {
  width: fit-content;
  height: fit-content;
  background-color: rgba(238, 238, 238, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
}

.green-border {
  border-color: green;
}

#theme__image {
  width: 40px;
  height: 40px;
}

section {
  display: block;
}

.hidden {
  display: block !important;
  margin: 0 !important;
  padding: 0;
  height: 0 !important;
  overflow: hidden;
  transition: all 1s;
}

.show {
  display: block;
  height: 750px;
  transition: all 1s;
}


/* ??? */

.col-content-manager:not(.open) .carta,
.col-content-manager.open .open-column {
  display: block !important;
  margin: 0 !important;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: all 1s;
}

.col-content-manager.open .open-column {
  margin: auto !important;
  font-size: 0;
  width: 0;
}

.col-content-manager.open .carta,
.col-content-manager .open-column {
  display: block;
  transition: all 1s;
}

.col-content-manager .category-container {
  height: 250px;
  overflow: auto;
  padding-right: 10px;
}

.col-content-manager .carta::-webkit-scrollbar {
  margin-right: 10px;
  width: 10px;
}

.col-content-manager .category-container::-webkit-scrollbar {
  margin-right: 10px;
  width: 6px;
}


.col-content-manager .carta::-webkit-scrollbar-thumb,
.col-content-manager .category-container::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.col-content-manager .carta::-webkit-scrollbar-track,
.col-content-manager .category-container::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}


.col-content-manager .carta {
  height: 550px;
  overflow: hidden;
}

/* ??? */




.col-content-manager {
  transition: all 1s;
  display: flex;
  align-items: center;

}


.col-content-manager .carta-title-container {
  display: flex;
  justify-content: space-between;
}

.col-content-manager .category-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-content-manager .category-row .labelCat {
  margin-bottom: 0;
}

.col-content-manager .category-row .actions {
  display: flex;
}

.col-content-manager .category-row .actions .bin-button {
  margin-left: 10px;
}



.file-input {
  z-index: 1;
  cursor: pointer;
}

.cardf {
  box-sizing: border-box;
  width: 690px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  flex-direction: column;
}

.cardf:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.cardf .card-body {
  padding: 1rem 1rem;
}

.cardf .card-title {
  margin-bottom: 0.5rem;
}

.cardf .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*------ Settings ------*/
.container-eyes {
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  fill: #a5a5b0;
}

.container-eyes .eye {
  animation: keyframes-fill .5s;
}

.container-eyes .eye-slash {
  animation: keyframes-fill .5s;
  display: none;
}

/* ------ On check event ------ */
.container-eyes input:checked~.eye {
  display: none;
}

.container-eyes input:checked~.eye-slash {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container-eyes input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button {
  position: relative;
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 5px;
  transition: background 0.5s;
}

a.glow-on-hover {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0 23px;
}

.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: rgb(255, 99, 99);
  transform: translateX(-50%) rotate(45deg);
}

.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: #ff4a4a;
  transform: translateX(-50%) rotate(-45deg);
}

.close {
  position: absolute;
  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  top: -70%;
  left: 50%;
  width: 3em;
  height: 1.7em;
  font-size: 12px;
  background-color: rgb(19, 22, 24);
  color: rgb(187, 229, 236);
  border: none;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}

.button:hover {
  background-color: rgb(211, 21, 21);
}

.button:active {
  background-color: rgb(130, 0, 0);
}

.button:hover>.close {
  animation: close 0.2s forwards 0.25s;
}

@keyframes close {
  100% {
    opacity: 1;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 34px;
  border-radius: 50%;
  background-color: rgb(245, 54, 54);
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
  position: relative;
  overflow: hidden;
}

.bin-bottom {
  width: 15px;
  z-index: 2;
}

.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

.garbage {
  position: absolute;
  width: 14px;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}

.bin-button:hover .garbage {
  animation: throw 0.4s linear;
}

@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }

  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

.edit-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
  margin-top: 2px;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

@media screen and (max-width: 1024px) {
  .content-manager {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .content-manager {
    grid-template-columns: 1fr;
  }
}