@charset "UTF-8";
.navbar{
    background-color: black;
    box-shadow: 1px 0px 12px 10px rgba(0, 0, 0, 0.60);
    min-height: 90px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#descrizionegadget{
  font-size: 18px;
}

#linkaffiliazione{
  font-size: 14px;
  opacity: 90%;
}

#uno:hover {
	color: #ee2825;
}

#due:hover {
	color: #ffb828;
}

#tre:hover {
	color: #02b0ec;
}

#quattro:hover {
	color: #ee2825;
}

#cinque:hover {
	color: #ffb828;
}

#sei:hover {
	color: #02b0ec;
}

img{
    object-fit: contain;
}
.cardfooter {
    width: fit-content;
    height: fit-content;
    background-color: rgba(238, 238, 238, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0)

  }/* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    margin: 5px;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: green;
    transition-duration: 0.3s;
  }

  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }

  .socialSvg {
    width: 17px;
  }

  .socialSvg path {
    fill: rgb(255, 255, 255);
  }

  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }

  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }